<div class="container artist_develop">
  <div class="row">
    <div class="col-md-4">
      <h3 id='clientprogress'>Client Progress Update</h3>
    </div>
    <div class="col-md-4">
      {{#if logged_in}}
        {{#if superAdmin}}
          <h3><a style='color:white;' href="/users/newAdmin">Add another regular admin</a><br></h3>
          <h3 role="presentation"><a style='color:white;'href="#" data-toggle="modal" data-target="#createclient" class="whtText">add another client</a></h3>
        {{/if}}
      {{/if}}
    </div>
    <div class="col-md-4">
      {{#unless logged_in}}
        <h3 style="font-family:'Open Sans';" role="presentation"><a style='color:white;' href="#" data-toggle="modal" data-target="#sign-in" class="whtText">Sign In</a></h3>
      {{/unless}}
      {{#if logged_in}}
        <h3><a style="font-family:'Open Sans';" id='loginplease' href="/users/sign-out">Sign Out</a></h3>
      {{/if}}
    </div>
  </div>
</div>

{{#if logged_in}}
  {{#if superAdmin}}
    <h1 style='text-align:center;'>Admin Image Area</h1>

    <!-- if it is a regular user or username in this case we have to if else equal it to this page -->

    {{#each docs}}
      <h1 style='margin-left:15%;color:red;'>Client name: {{this.clientname}}</h1>
        <!-- <div class="container"> -->
          <!-- <button style='margin-left:15%;' type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show more info on client</button> -->
          <!-- <div id="demo" class="collapse"> -->
          <h3 style='margin-left:15%;color:blue;'>services paid for</h3>
          {{#each this.services}}
            <p style='margin-left:15%;'>{{this}}</p>
          {{/each}}
            <!-- <p style='margin-left:15%;'>{{this.servicesocial}}</p>
            <p style='margin-left:15%;'>{{this.servicemusic}}</p>
            <p style='margin-left:15%;'>{{this.logo}}</p> -->
            <h3 style='margin-left:15%;color:blue;'>Add Project</h3>
            <form style='margin-left:15%;' method='post', action='/users/addimage', enctype="multipart/form-data">
              <input name='postid', type='hidden', value='{{this._id}}'>
              <div class="form-group">
                <label for="em">Title:</label>
                <br>
                <input type="text" id="ti" name="title" placeholder="Enter Title">
              </div>
              <div class="form-group">
                <label for="mainimage">Main image:</label>
                <input type="file" id="mainimage" name="mainimage">
              </div>
              <button type="submit">Post Project</button>
            </form>
            <hr style='background-color: #fff;border-top: 2px dashed #8c8b8b;'>
          <!-- </div> -->
        <!-- </div> -->
    {{/each}}
    <hr style='	height: 10px;border: 0;zbox-shadow: 0 10px 10px -10px #8c8b8b inset;'>
<br>
<br>
<hr>
<h1>Add a new client for services</h1>
<br>
<form method='post', action='/users/addclient', enctype="multipart/form-data">
    <div class="form-group">
      <label for="em">Client Full Name:</label>
      <br>
      <input type="text" id="ti" name="fullname" placeholder="Enter Client's Full Name">
    </div>
  <div class="form-group">
    <label class="checkbox-inline"><input type="checkbox" name='website' value="Website">Website</label>
    <label class="checkbox-inline"><input type="checkbox" name='socialmedia' value="Social Media">Social Media</label>
    <label class="checkbox-inline"><input type="checkbox" name='musicstudio' value="Music Studio">Music Studio</label>
    <br>
    <label class="checkbox-inline"><input type="checkbox" name='logo' value="Logo">Logo</label>
    <!-- <label class="checkbox-inline"><input type="checkbox" name='musicstudio' value="Logo">Logo</label>
    <label class="checkbox-inline"><input type="checkbox" name='musicstudio' value="Logo">Logo</label> -->
    <!-- <br> -->
    <!-- <label class="checkbox-inline"><input type="checkbox" name='musicstudio' value="Logo">Logo</label>
    <label class="checkbox-inline"><input type="checkbox" name='musicstudio' value="Logo">Logo</label>
    <label class="checkbox-inline"><input type="checkbox" name='musicstudio' value="Logo">Logo</label> -->

  </div>
  <div class="form-group">
    <label for="em">Client Name:</label>
    <br>
    <input id='addclientname' style='width: 400px;' type="text" id="ti" name="clientname" placeholder="Enter Client Name: MUST EQUAL CLIENT USERNAME">
  </div>
  <button type="submit">Post New Client</button>
</form>
<hr>
<div id="addproject" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12" id="sign_in">
						<h4>Add Project</h4>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


  {{/if}}
{{/if}}

<!-- <input type="radio" name="client" value="jeff" checked>Jeff<br>
<input type="radio" name="client" value="saj">Saj<br>
<input type="radio" name="client" value="boris">Boris
<br> -->

<!-- <li><img style='width:15%;'src="images/{{this.mainimage}}" alt="" /></li> -->


<!-- <form style='text-align:center;' method='post', action='/users/addcomment', enctype="multipart/form-data">
<input name='postid', type='hidden', value='{{this._id}}'>
<div class="form-group">
  <label for="em">Body:</label>
  <br>
  <input type="text" id="body" name="body" placeholder="Enter a Comment">
</div>
<button type="submit">Post Image</button>
</form> -->
