{{#if logged_in}}
  <div class="container artist_develop">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <p id='clientprogress'>Client Progress Update</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>{{docs.username}}</h3>
      </div>
      <div class="col-md-4 col-sm-6">
        {{#unless logged_in}}
          <h3 role="presentation"><a style='color:white;' href="#" data-toggle="modal" data-target="#sign-in" class="whtText">Sign In</a></h3>
        {{/unless}}
        {{#if logged_in}}
          <h3><a style='color:white;' href="/users/sign-out">Sign Out</a></h3>
            {{#if superAdmin}}
              <a href="/users/newAdmin">Add another regular admin</a><br>
              <li role="presentation"><a href="#" data-toggle="modal" data-target="#createclient" class="whtText">add another client</a></li>
            {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
  <p id='clientprogress' style='text-align:center; font-size:45px;'>Complete Package Checklist <span><img style='width:30px;'src="/assets/images/checklist_icon.png" alt="" /></span></p>
  {{#if logged_in}}
  {{#each doc}}
  <ul>
    <li>
      {{this.title}}
    </li>
    <li>
      <li><img style='width:15%;'src="images/{{this.mainimage}}" alt="" /></li>
    </li>
    <li>
      {{this.client}}
    </li>
      {{#each this.comments}}
      <li>
      {{this.body}}
      </li>
      {{/each}}
  </ul>
  <form method='post', action='/users/addcomment', enctype="multipart/form-data">
  <input name='postid', type='hidden', value='{{this._id}}'>
  <div class="form-group">
    <label for="em">Body:</label>
    <br>
    <input type="text" id="body" name="body" placeholder="Enter a Comment">
  </div>
  <button type="submit">Post Image</button>
  </form>

  {{/each}}
  {{/if}}
{{/if}}
