
{{#if logged_in}}
<h1>
  {{docs.email}}
</h1>
{{#each doc}}
<ul>
  <li>
    {{this.title}}
  </li>
  <li>
    <li><img style='width:15%;'src="images/{{this.mainimage}}" alt="" /></li>
  </li>
  <li>
    {{this.client}}
  </li>
    {{#each this.comments}}
    <li>
    {{this.body}}
    </li>
    {{/each}}
</ul>
<form method='post', action='/users/addcomment', enctype="multipart/form-data">
<input name='postid', type='hidden', value='{{this._id}}'>
<div class="form-group">
  <label for="em">Body:</label>
  <br>
  <input type="text" id="body" name="body" placeholder="Enter a Comment">
</div>
<button type="submit">Post Image</button>
</form>

{{/each}}
{{/if}}
