{{#if logged_in}}
  <div class="container artist_develop">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <p id='clientprogress'>Client Progress Update</p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>{{docs.username}}</h3>
      </div>
      <div class="col-md-4 col-sm-6">
        {{#if logged_in}}
          <h3><a id='loginplease' href="/users/sign-out">Sign Out</a></h3>
            {{#if superAdmin}}
              <a href="/users/newAdmin">Add another regular admin</a><br>
              <li role="presentation"><a href="#" data-toggle="modal" data-target="#createclient" class="whtText">add another client</a></li>
            {{/if}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="row main2">
  <p id='clientprogress' style='text-align:center; font-size:45px;'>Complete Package Checklist <span><img style='width:30px;'src="/assets/images/checklist_icon.png" alt="" /></span></p>
  <br><br>
<div class="tablediv">
  <table class="table table-hover profiletable">
    <thead>
      <tr>
        <th style='color:blue;'>Type</th>
        <th style='color:blue;'>Date Updated</th>
        <th style='color:blue;'>Last Reviewed</th>
        <th style='color:blue;'>Status</th>
        <th style='color:blue;'>Download files</th>
        <th style='color:blue;'>Review your Project</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style='color:black'>EP Cover</td>
        <td style='color:black'>8/1/16</td>
        <td style='color:black'>8/2/16</td>
        <td style='color:black'>Approved</td>
        <td style='color:black'><button class='btn btn-primary' type="button" name="downloadzip">Download</button></td>
        <td style='color:black'><button class='btn btn-warning' type='button' role="presentation" href="#" data-toggle="modal" data-target="#reviewproject">Review</button></td>
      </tr>
      <tr>
        <td style='color:black'>Music 3 songs</td>
        <td style='color:black'>8/1/16</td>
        <td style='color:black'>8/2/16</td>
        <td style='color:black'>In progress</td>
        <td style='color:black'><button class='btn btn-primary' type="button" name="downloadzip">Download</button></td>
        <td style='color:black'><button class='btn btn-warning' type='button' role="presentation" href="#" data-toggle="modal" data-target="#reviewproject">Review</button></td>
      </tr>
      <tr>
        <td style='color:black'>Website</td>
        <td style='color:black'>8/1/16</td>
        <td style='color:black'>8/2/16</td>
        <td style='color:black'>Final Draft</td>
        <td style='color:black'><button class='btn btn-primary' type="button" name="downloadzip">Download</button></td>
        <td style='color:black'><button class='btn btn-warning' type='button' role="presentation" href="#" data-toggle="modal" data-target="#reviewproject">Review</button></td>
      </tr>
      <tr>
        <td style='color:black'>Set of Edited Photos</td>
        <td style='color:black'>8/1/16</td>
        <td style='color:black'>8/2/16</td>
        <td style='color:black'>Completed</td>
        <td style='color:black'><button class='btn btn-primary' type="button" name="downloadzip">Download</button></td>
        <td style='color:black'><button class='btn btn-warning' type='button' role="presentation" href="#" data-toggle="modal" data-target="#reviewproject">Review</button></td>
      </tr>
    </tbody>
  </table>
</div>

    {{#if logged_in}}
      {{#each doc}}
        <ul>
          <li>
            {{this.title}}
          </li>
          <li>
            <li><img style='width:15%;'src="images/{{this.mainimage}}" alt="" /></li>
          </li>
          <li>
            {{this.client}}
          </li>
            {{#each this.comments}}
          <li>
            {{this.body}}
          </li>
        </ul>
        {{/each}}
  </div>
  <form method='post', action='/users/addcomment', enctype="multipart/form-data">
  <input name='postid', type='hidden', value='{{this._id}}'>
  <div class="form-group">
    <label for="em">Body:</label>
    <br>
    <input type="text" id="body" name="body" placeholder="Enter a Comment">
  </div>
  <button type="submit">Post Image</button>
  </form>

  {{/each}}
  {{/if}}
{{/if}}

{{#unless logged_in}}
  <h3 role="presentation"><a href="#" data-toggle="modal" data-target="#sign-in" class="whtText">Sign In</a></h3>
{{/unless}}
<div id="reviewproject" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="row">
          <div class="col-md-6">
            <img src="" alt="" />
          </div>
          <div class="col-md-6">
            <p>Set of Edited Photos</p>
          </div>
        </div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12" id="sign_in">
            <form method='post', action='/users/addimage', enctype="multipart/form-data">
              <div class="form-group">
                <h4>Notes</h4>
                <p>this is the notes placeholders {}</p>
              </div>
              <div class="form-group">
                <h4>Your Comments</h4>
                <p>this is the comments placeholders {}</p>
              </div>
              <div class="form-group">
              </div>
              <button class='btn btn-primary'type="submit">Add Comment</button>
              <button class='btn btn-danger'type="submit">Decline</button>
              <button class='btn btn-warning'type="submit">Approve</button>
            </form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
